venv
TP2-ESCANER-RFID/config.h

__pycache__

.env

# Claves y certificados de Fabric CA
fabric-supply-chain/test-network/**/fabric-ca/**/msp/keystore/*
fabric-supply-chain/test-network/**/fabric-ca/**/*.pem
fabric-supply-chain/test-network/**/fabric-ca/**/*.db
fabric-supply-chain/test-network/**/fabric-ca/**/*PublicKey