<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top shadow-sm">
    <div class="container-fluid">
        
        <button class="btn btn-secondary d-lg-none me-3" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#sidebar-container" 
                aria-controls="sidebar-container" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <ion-icon name="menu-outline" size="large" style="color: var(--primary);"></ion-icon>
        </button>
        
        <a class="navbar-brand d-lg-none fw-bold" href="#">
            <span class="text-primary">Supply</span><span class="text-secondary">-chain</span>
        </a>

        <div class="d-flex ms-auto align-items-center">
            
            <form class="d-flex d-none d-md-block me-3" role="search">
                <div class="input-group">
                    
                </div>
            </form>
            
            <div class="dropdown">
                <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://ui-avatars.com/api/?name={{ current_user.username.capitalize() }}&background=DBEDEC&color=FFFF&bold=true" class="avatar me-2" alt="Avatar de usuario">
                    <span class="d-none d-md-block text-secondary fw-bold">{{ current_user.username.capitalize() }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">

                {% if current_user.role == 'Productor' %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('config_home') }}">
                            Configuración
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                {% endif %}

                <li><a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Cerrar Sesión</a></li>

            </ul>

            </div>
            
        </div>
    </div>
</nav>