<div style="height: 100%;">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid pb-2" alt="LOGO">
    </div>
    
    <div class="menu">
        <h4 class="d-block fw-bold">Controles</h4>
        
        <a href="{{ url_for('index') }}" class="d-block fw-bold {% if request.endpoint == 'index' %}link{% endif %}">
            <ion-icon name="apps" class="me-2 lead"></ion-icon>Tablero
        </a>
        
        <a href="{{ url_for('read_asset') }}" class="d-block fw-bold {% if request.endpoint == 'read_asset' %}link{% endif %}">
            <ion-icon name="pricetags" class="me-2 lead"></ion-icon>Escanear
        </a>
        
        {% if current_user.role != "Cliente" %}
            <a href="{{ url_for('assets') }}" class="d-block fw-bold {% if request.endpoint == 'assets' %}link{% endif %}">
                <ion-icon name="layers" class="me-2 lead"></ion-icon>Mis assets
            </a>
            
            <a href="{{ url_for('assets_historial') }}" class="d-block fw-bold {% if request.endpoint == 'assets_historial' %}link{% endif %}">
                <ion-icon name="globe" class="me-2 lead"></ion-icon>Historiales
            </a>
            
            {% if current_user.role != "Transportador" %}
            <a href="{{ url_for('new_asset') }}" class="d-block fw-bold {% if request.endpoint == 'new_asset' %}link{% endif %}">
                <ion-icon name="wine" class="me-2 lead"></ion-icon>Nuevo asset
            </a>
            {% endif %}
        {% endif %}
    </div>
</div>