<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        {% if title %}
        <title>{{ title }} - supply-chain</title>
        {% else %}
        <title>supply-chain</title>
        {% endif %}
        
        <script type="text/javascript" src="{{ url_for('static', filename='varios/jquery-3.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='varios/socket.io.min.js') }}"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-offline/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='bootstrap-offline/js/bootstrap.bundle.min.js') }}"></script>
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        
    </head>
    
    <body>
        <div class="d-flex" id="wrapper">
            
            {% if not current_user.is_anonymous %}
            <div id="sidebar-container" class="bg-secondary"> 
                {% include 'base_partials/sidebar.html' %}    
            </div>
            {% endif %}

            <div class="content-wrapper"> 
                
                {% if not current_user.is_anonymous %}
                    {% include 'base_partials/navbar.html' %}
                {% endif %}

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="custom-alert-container">
                    <div class="alert alert-warning alert-dismissible fade show position-fixed bottom-0 end-0 {{ category }}" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="content-body">
                    {% block content %}{% endblock %}
                </div>
                
            </div>
        </div>
        
    </body>
    </html>