{% extends "base.html" %}

{% block content %}
<main class="content-body d-flex justify-content-center pt-5"> 
    <div class="p-4 rounded shadow-lg bg-light" style="max-width: 450px; width: 100%;">
        
        <h1 class="h3 fw-bold text-secondary mb-4 text-center">Transferir Activo (Asset)</h1>

        <form action="" method="POST" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            
            <div class="mb-4">
                {{ form.owner.label(class="form-label") }}
                
                {% if form.owner.type == 'SelectField' %}
                    {{ form.owner(class="form-select" + (" is-invalid" if form.owner.errors else "")) }}
                {% else %}
                    {{ form.owner(class="form-control" + (" is-invalid" if form.owner.errors else ""), placeholder="ID o Nombre del nuevo propietario") }}
                {% endif %}

                {% for error in form.owner.errors %}
                    <div class="invalid-feedback d-block">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="d-grid gap-2 mt-4">
                {{ form.transferir_boton(class="btn btn-secondary fw-bold p-2 text-uppercase") }}
            </div>
        </form>
    </div>
</main>
{% endblock %}